div {
    width: 400px;
    height: 200px;
    background-image: url("../../000_img/soniciwa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 20px groove green;
}